<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this is generic app</h1>
        <p>Allu Arjun is an Indian actor who works in Telugu films. One of the highest paid actors in India, Arjun is also known for his extraordinary dancing skills. He is a recipient of several awards including six Filmfare Awards and three Nandi Awards. Allu Arjun made his debut with Gangotri in 2003. </p>
        <a href="{% url 'app1:second' %}"> navigate to second</a>
        <a href="{% url 'app2:third'%}">navigate to third</a>

    </center>
    
</body>
</html>