<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1> this is specific Html page</h1>
    <p>Nandamuri Taraka Rama Rao Jr., also known as Jr NTR or Tarak, is an Indian actor who primarily works in Telugu cinema. One of the highest paid Telugu film actors, Rama Rao Jr. has won several accolades, including two Filmfare Awards, two state Nandi Awards, and four CineMAA Awards.</p>
    <a href="{% url 'app2:third'%}"> navigate to third</a>
    <a href="{% url 'first' %}"> navigate to first</a>
     </center>
    
</body>
</html>