<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this specific html page</h1>
        <p>Pawan Kalyan is an Indian actor, filmmaker, and politician. His films are predominantly in Telugu cinema. Kalyan is the younger brother of actor-ex.politician Chiranjeevi, and made his debut in the</p>
        <a href="{% url 'app1:second' %}">navigate to second</a>
        <a href="{% url 'first' %}">navigate to first</a>
    </center>
    
</body>
</html>